<%= render 'shared/flash_message' %>

<%= form_with(model: @registration, local: true, id: 'edit_ht_registration_form') do |form| %>

<div class="col-sm-6">

  <dl class="dl-horizontal">
    <% HTRegistrationPresenter::ALL_FIELDS.each do |field| %>
      <dt><%= @registration.field_label field, form: form %></dt>
      <dd><%= @registration.field_value field, form: form %></dd>
    <% end %>
  </dl>

  <%= form.submit t(".submit_changes"), class: 'btn btn-primary' %>
  <%= link_to t(".cancel"), @registration.cancel_path, class: 'btn btn-primary' %>
</div>

<% end %>
