<%= form_with(model: @registration, local: true, id: 'edit_ht_registration_form') do |form| %>

<div class="col-sm-6">

  <dl class="row">
    <% @registration.all_fields.each do |field| %>

    <% if action_name == "new" && @registration.read_only_fields.include?(field) %>
      <% next %>
    <% end %>

      <dt class="col-sm-3"><%= @registration.field_label field, form: form %></dt>
      <dd class="col-sm-9"><%= @registration.field_value field, form: form %></dd>
    <% end %>
  </dl>

  <%= form.submit t(".submit_changes"), class: 'btn btn-primary' %>
  <%= link_to t(".cancel"), @registration.cancel_path, class: 'btn btn-primary' %>
</div>

<% end %>
