<div id="maincontent" class="row">

  <div class="col my-2">
    <%= link_to t(".new_registration"), new_ht_registration_path, class: 'btn btn-primary' %>
  </div>
  <br/>
  
  <h1 class="pull-left"><%= t(".current_registrations") %></h1>
  
  <% fields = HTRegistrationPresenter::INDEX_FIELDS %>
  <table id="registrations-table" class="table table-striped" data-toggle="table"
         data-height="800" data-virtual-scroll="true" data-search="true"
         data-show-search-clear-button="true">
    <thead>
      <tr>
        <% fields.each do |field| %>
          <th data-sortable="true"><%= HTRegistrationPresenter.field_label field %></th>
        <% end %>
      </tr>
    </thead>
    <% @all_registrations.each do |reg| %>
      <tr>
      <% fields.each do |field| %>
        <td><%= reg.field_value field %></td>
      <% end %>
      </tr>
    <% end %>
  </table>

  <% if @all_registrations.size > 10 %>
    <div class="col my-4">
      <%= link_to t(".new_registration"), new_ht_registration_path, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
