<div id="maincontent" class="row">

  <%= render 'shared/flash_message' %>

  <%= link_to 'New Registration', new_ht_registration_path, class: 'btn btn-primary' %>
  <br />
  
  <h2 class="pull-left">Current Registrations</h2>

  <table class="table table-striped" data-toggle="table" data-height="460" data-virtual-scroll="true" data-search="true" data-show-search-clear-button="true">
    <tr>
      <th data-sortable="true">Name</th>
      <th data-sortable="true">Institution</th>
      <th data-sortable="true">Ticket</th>
      <th data-sortable="true">Contact Info</th>
      <th data-sortable="true">Auth Rep</th>
      <th data-sortable="true">DSP</th>
      <th data-sortable="true">MFA?</th>
    </tr>
    <% @all_registrations.each do |reg| %>
    <tr>
      <td><%= link_to reg.name, ht_registration_path(reg.id) %></td>
      <td><%= reg.inst_id %></td>
      <td><%= reg.jira_ticket %></td>
      <td><%= reg.contact_info %></td>
      <td>
	<%= reg.auth_rep_name %>
	<br/>
	<%= reg.auth_rep_email %>
	(<%= reg.auth_rep_date %>)
      </td>
      <td>
	<%= reg.dsp_name %>
	<br/>
	<%= reg.dsp_email %>
	(<%= reg.dsp_date %>)
      </td>
      <td><%= reg.mfa_addendum %></td>
    </tr>
    <% end %>
  </table>
</div>
