<div id="maincontent">

  <div class="col my-2">
    <%= link_to t(".new_registration"), new_ht_registration_path, class: 'btn btn-primary' %>
  </div>
  <br/>
  
  <h2 class="float-start"><%= t(".current_registrations") %></h2>
  
  <% fields = HTRegistrationPresenter::INDEX_FIELDS %>
  <table
    id="registrations-table"
    class="table table-striped"
    data-height="800"
    data-locale="<%= language_region_locale %>"
    data-search="true"
    data-show-columns="true"
    data-show-search-clear-button="true"
    data-toggle="table" 
    data-virtual-scroll="true"
  >
    <thead>
      <tr>
        <% fields.each do |field| %>
          <th data-sortable="true"><%= HTRegistrationPresenter.field_label field %></th>
        <% end %>
      </tr>
    </thead>
    <% @all_registrations.each do |reg| %>
      <tr>
      <% fields.each do |field| %>
        <td><%= reg.field_value field %></td>
      <% end %>
      </tr>
    <% end %>
  </table>

  <% if @all_registrations.size > 10 %>
    <div class="col my-4">
      <%= link_to t(".new_registration"), new_ht_registration_path, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
