<div id="maincontent" class="row">

  <%= link_to t(".new_registration"), new_ht_registration_path, class: 'btn btn-primary' %>
  <br/>
  
  <h2 class="pull-left"><%= t(".current_registrations") %></h2>
  
  <% fields = HTRegistrationPresenter::INDEX_FIELDS %>
  <table class="table table-striped" data-toggle="table" data-height="460" data-virtual-scroll="true" data-search="true" data-show-search-clear-button="true">
    <tr>
      <% fields.each do |field| %>
        <th data-sortable="true"><%= HTRegistrationPresenter.field_label field %></th>
      <% end %>
    </tr>
    <% @all_registrations.each do |reg| %>
      <tr>
      <% fields.each do |field| %>
        <td><%= reg.field_value field %></td>
      <% end %>
      </tr>
    <% end %>
  </table>

  <% if @all_registrations.size > 10 %>
    <br/>
    <%= link_to t(".new_registration"), new_ht_registration_path, class: 'btn btn-primary' %>
  <% end %>
</div>
