<%= javascript_include_tag Ckeditor.cdn_url %>
<script>
  CKEDITOR.config.language = "<%= I18n.locale %>";
</script>

<div id="maincontent" class="row">
  <h1><%= @registration.dsp_name %></h1>
  <div class="row">
  <!-- MAIL PREVIEW -->
  <%= form_tag mail_ht_registration_path, method: :post do %>
    <div class="panel panel-default">
      <div class="panel-heading"><%= t ".email_preview" %></div>
      <div class="panel-body">
        <%= label_tag "subject", t(".subject") %>
        <%= text_field_tag "subject", RegistrationMailer.subject, size: 60 %>
        <%= cktext_area_tag :email_body, @email_body, ckeditor: { height: '325px' } %>
      </div>
      <div class="panel-body">
        <!-- Turn off locale setting since this is part of mail preview -->
        <!-- e-mail content language is orthogonal to UI language -->
        <% I18n.with_locale(I18n.default_locale) do %>
          <%= render 'shared/registration_link' %>
        <% end %>
      </div>
    </div>
    <% if can?(:mail, :ht_registrations) && !@registration.received? &&
       (!@registration.sent? || @registration.expired?) %>
      <% label = @registration.expired? ? ".resend" : ".send" %>
      <%= submit_tag t(label), class: 'btn btn-primary' %>
    <% end %>
    <%= link_to t(".cancel"), ht_registration_path(@registration), class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>
