<div class="col-sm-12">
  <h1><%= @registration.dsp_name %></h1>

  <dl class="dl-horizontal">
    <% @registration.all_fields.each do |field| %>
      <dt><%= @registration.field_label field %></dt>
      <dd><%= @registration.field_value field %></dd>
    <% end %>
  </dl>
  <br/>

  <% if @registration.ip_address.present? %>
    <h2><%= t(".login_details") %></h2>
    <dl class="dl-horizontal">
      <% @registration.detail_fields.each do |field| %>
        <dt><%= @registration.field_label field %></dt>
        <dd><%= @registration.field_value field %></dd>
      <% end %>
    </dl>
    <br/>
  <% end %>

  <% unless @registration.finished? %>
    <% if can?(:edit, HTRegistration) %>
      <%= link_to t(".edit"), edit_ht_registration_path, class: 'btn btn-primary' %>
    <% end %>

    <% if can?(:preview, HTRegistration) %>
      <%= link_to t(".email_preview"), preview_ht_registration_path, class: 'btn btn-primary' %>
    <% end %>

    <% if can?(:destroy, HTRegistration) && !@registration.received? && !@registration.finished? %>
      <%= link_to t(".delete"), ht_registration_path, method: :delete, class: 'btn btn-danger',
            data: { confirm: t(".confirm_delete", name: @registration.dsp_name) } %>
    <% end %>

    <% if can?(:create, HTUser) && @registration.received? && !HTUser.exists?(@registration.dsp_email) %>
      <%= link_to t(".create_user"), finish_ht_registration_path, method: :post, class: 'btn btn-success' %>
    <% end %>
  <% end %>

  <% if @registration.ip_address.present? %>
    <h2><%= t(".whois_data") %></h2>
    <div>
      <pre><%= Services.whois.lookup(@registration.ip_address).to_s %></pre>
    </div>
  <% end %>
</div>
