<div class="col-sm-12">
  <h1><%= @registration.applicant_name %></h1>

  <dl class="row">
    <% @registration.all_fields.each do |field| %>
      <dt class="col-sm-4"><%= @registration.field_label field %></dt>
      <dd class="col-sm-8"><%= @registration.field_value field %></dd>
    <% end %>
  </dl>
  <br/>

  <% if @registration.ip_address.present? %>
    <h2><%= t(".login_details") %></h2>
    <dl class="row">
      <% @registration.detail_fields.each do |field| %>
        <dt class="col-sm-4"><%= @registration.field_label field %></dt>
        <dd class="col-sm-8"><%= @registration.field_value field %></dd>
      <% end %>
    </dl>
    <br/>
  <% end %>

  <% unless @registration.finished? %>
    <div class="btn-group" role="group" aria-label="Registration Actions">
      <% if can?(:edit, HTRegistration) %>
        <%= link_to t(".edit"), edit_ht_registration_path, class: 'btn btn-primary' %>
      <% end %>

      <% if can?(:preview, HTRegistration) %>
        <%= link_to t(".email_preview"), preview_ht_registration_path, class: 'btn btn-primary' %>
      <% end %>

      <% if can?(:destroy, HTRegistration) && !@registration.received? && !@registration.finished? %>
        <%= link_to t(".delete"), ht_registration_path, method: :delete, class: 'btn btn-danger',
              data: { confirm: t(".confirm_delete", name: @registration.applicant_name) } %>
      <% end %>

      <% if can?(:create, HTUser) && @registration.received? && !@registration.finished? %>
        <% link_name = @registration.existing_user.nil? ? t(".create_user") : t(".update_user") %>
        <%= button_to link_name, finish_ht_registration_path, method: :post, id: "create-update-user", class: 'btn btn-success' %>
      <% end %>
    </div>
  <% end %>

  <% if @registration.ip_address.present? %>
    <h2 class="mt-4"><%= t(".whois_data") %></h2>
    <div>
      <%= @registration.whois_block %>
    </div>
  <% end %>
</div>
