<div class="col-sm-6">
  <h1><%= @registration.name %></h1>
  
  <dl class="dl-horizontal">
    <% HTRegistrationPresenter::ALL_FIELDS.each do |field| %>
      <dt><%= @registration.field_label field %></dt>
      <dd><%= @registration.field_value field %></dd>
    <% end %>
  </dl>
  <br/>

  <% if can?(:edit, HTRegistration) %>
    <%= link_to t(".edit"), edit_ht_registration_path, class: 'btn btn-primary' %>
  <% end %>
  
  <% if can?(:preview, :ht_registrations) %>
    <%= link_to 'E-mail Preview', preview_ht_registration_path, class: 'btn btn-primary' %>
  <% end %>

  <% if can?(:destroy, HTRegistration) && !@registration.sent? %>
    <%= link_to t(".delete"), ht_registration_path, method: :delete, class: 'btn btn-danger',
	        data: { confirm: t(".confirm_delete", name: @registration.dsp_name) } %>
  <% end %>
</div>
