<div class="col-sm-6">
  <h1><%= @registration.name %></h1>
  <dl class="dl-horizontal">
    <dt>Institution:</dt>
    <dd><%= @registration.inst_link %></dd>
    <dt>JIRA Ticket:</dt>
    <dd><%= @registration.jira_link %></dd>
    <dt>Contact Info:</dt>
    <dd><%= @registration.contact_info %></dd>
    <dt>Auth Rep Name:</dt>
    <dd><%= @registration.auth_rep_name %></dd>
    <dt>Auth Rep Email:</dt>
    <dd>
      <%= link_to(@registration.auth_rep_email, "mailto:#{@registration.auth_rep_email}") %>
    </dd>
    <dt>Auth Rep Date:</dt>
    <dd><%= @registration.auth_rep_date %></dd>
    <dt>DSP Name:</dt>
    <dd><%= @registration.dsp_name %></dd>
    <dt>DSP Email:</dt>
    <dd>
      <%= link_to(@registration.dsp_email, "mailto:#{@registration.dsp_email}") %>
    </dd>
    <dt>DSP Date:</dt>
    <dd><%= @registration.dsp_date %></dd>
    <dt>MFA Addendum:</dt>
    <dd><%= @registration.mfa_addendum %></dd>
  </dl>
  <br />

  <% if can?(:edit, :ht_registrations) %>
    <%= link_to 'Edit', edit_ht_registration_path, class: 'btn btn-primary' %>
  <% end %>

  <% if can?(:destroy, :ht_registrations) %>
    <%= link_to 'Delete Registration', ht_registration_path, method: :delete, class: 'btn btn-danger',
	data: { confirm: "Please confirm deletion of registration \"#{@registration.name}\"" } %>
  <% end %>
</div>
