<div id="maincontent" class="row">
  <h1>Edit <%= "#{@user.userid}" %></h1>

  <%= render 'shared/flash_message' %>

  <%= form_with(model: @user, local: true) do |form| %>
 
   <%= form.hidden_field :userid %>
    <p>
      <%= form.label :iprestrict %><br/>
      <%= form.text_field :iprestrict %>
    </p>
    <p>
      <% expired = @user.expires < Time.current %>
      <%= form.label :expires, expired ? 'Expired' : 'Expires' %><br/>
      <%= form.text_field :expires, value: @user.expires, size: 30, id: :expires_field %>
      <% unless expired %>
        <%= form.button "Expire Now", type: :button, onclick: "$('#expires_field').val('#{Time.current.to_s(:db)}');" %>
      <% end %>
    </p>
    <p>
      <%= form.submit 'Submit Changes' %>
    </p>
 
  <% end %>
 
  <%= link_to 'Back', ht_users_path %>
</div>

