<div id="maincontent" class="row">
  <h1><%= "#{@user.displayname}" %></h1>

  <script>
    var save_ip = '';
    function check_mfa() {
      if ($('#ht_user_mfa').prop('checked')) {
        save_ip = $('#ht_user_iprestrict').val();
        $('#ht_user_iprestrict').val('');
        $('#ht_user_iprestrict').attr('disabled', true);
      }
      else {
        if (save_ip.length > 0) {
          $('#ht_user_iprestrict').val(save_ip);
        }
        $('#ht_user_iprestrict').attr('disabled', false);
      }
    }

    $('#edit_ht_user_form').submit(function() {
      $('#ht_user_iprestrict').attr('disabled', false);
    })

    // Get the date from the date input and do some maths with it.
    // If the current date is >= the "danger" cutoff then add the danger class,
    // otherwise remove it.
    // Also, the "Expire Now" button is disabled when user is already expired,
    // so enable it once the date changes.
    function check_expiration() {
      var expires_soon_in_days = <%= ExpirationDate::EXPIRES_SOON_IN_DAYS %>;
      var result = new Date(Date.parse($('#ht_user_expires').val()));
      result.setDate(result.getDate() - expires_soon_in_days);
      if (new Date(Date.now()) >= result) {
        $('#ht_user_expires').addClass('bg-danger');
      } else {
        $('#ht_user_expires').removeClass('bg-danger');
      }
      $('#ht_user_expire_now').prop('disabled', false);
    }

    function set_expiration(date) {
      $('#ht_user_expires').val(date);
      check_expiration();
    }
  </script>

  <%= form_with(model: @user, local: true, id: 'edit_ht_user_form') do |form| %>
    <dl class="row">
      <% @user.all_fields.each do |field| %>
        <dt class="col-sm-3"><%= @user.field_label field, form: form %></dt>
        <dd class="col-sm-9"><%= @user.field_value field, form: form %></dd>
      <% end %>
    </dl>
    <hr/>
    <dl class="row">
      <% @user.ht_counts_fields.each do |field| %>
        <dt class="col-sm-3"><%= @user.field_label field, form: form %></dt>
        <dd class="col-sm-9"><%= @user.field_value field, form: form %></dd>
      <% end %>
    </dl>
    <%= form.submit t(".submit_changes"), class: 'btn btn-primary' %>
    <%= link_to t(".cancel"), ht_user_path(@user), class: 'btn btn-primary' %>
  <% end %>
</div>
