<div id="maincontent" class="row">
  <h1><%= "#{@user.displayname}" %></h1>

  <script>
    var save_ip = '';
    function check_mfa() {
      if ($('#ht_user_mfa').prop('checked')) {
        save_ip = $('#ht_user_iprestrict').val();
        $('#ht_user_iprestrict').val('');
        $('#ht_user_iprestrict').attr('disabled', true);
      }
      else {
        if (save_ip.length > 0) {
          $('#ht_user_iprestrict').val(save_ip);
        }
        $('#ht_user_iprestrict').attr('disabled', false);
      }
    }
    $('#edit_ht_user_form').submit(function() {
      $('#ht_user_iprestrict').attr('disabled', false);
    })
  </script>

  <%= render 'shared/flash_message' %>

  <%= form_with(model: @user, local: true, id: 'edit_ht_user_form') do |form| %>
    <dl class="dl-horizontal">
      <% HTUserPresenter::ALL_FIELDS.each do |field| %>
        <dt><%= @user.field_label field, form: form %></dt>
        <dd><%= @user.field_value field, form: form %></dd>
      <% end %>
    </dl>
    <hr/>
    <dl class="dl-horizontal">
      <% HTUserPresenter::COUNT_FIELDS.each do |field| %>
        <dt><%= @user.field_label field, form: form %></dt>
        <dd><%= @user.field_value field, form: form %></dd>
      <% end %>
    </dl>
    <%= form.submit t(".submit_changes"), class: 'btn btn-primary' %>
    <%= link_to t(".cancel"), ht_user_path(@user), class: 'btn btn-primary' %>
  <% end %>
</div>
