<div id="maincontent" class="row">
  <h1><%= "#{@user.displayname}" %></h1>

  <script>
    var save_ip = '';
    function check_mfa() {
      if ($('#mfa_checkbox').prop('checked')) {
        save_ip = $('#iprestrict_field').val();
        $('#iprestrict_field').val('');
        $('#iprestrict_field').attr('disabled', true);
      }
      else {
        if (save_ip.length > 0) {
          $('#iprestrict_field').val(save_ip);
        }
        $('#iprestrict_field').attr('disabled', false);
      }
    }
    $('#edit_ht_user_form').submit(function() {
      $('#iprestrict_field').attr('disabled', false);
    })
  </script>

  <%= render 'shared/flash_message' %>

  <%= form_with(model: @user, local: true, id: 'edit_ht_user_form') do |form| %>

    <% ed = @user.expiration_date
       expired_text = ed.expired? ? "Expired" : "Expires"
       expires_class = ed.expiring_soon? ? "expiring-soon" : ""
    %>

    <div class="col-2">
      <dl class="dl-horizontal">
        <%= form.hidden_field :userid %>

        <dt>E-mail:</dt>
        <dd><%= @user.email %></dd>
        <dt>Display Name:</dt>
        <dd><%= @user.displayname %></dd>
        <dt>User ID:</dt>
        <dd><%= @user.userid %></dd>
        <dt>Activity Contact:</dt>
        <dd><%= @user.activitycontact %></dd>
        <dt><%= form.label :approver %></dt>
        <dd><%= form.text_field :approver, size: 40 %></dd>
        <dt>Authorizer:</dt>
        <dd><%= @user.authorizer %></dd>
        <dt>User Type:</dt>
        <dd><%= @user.usertype %></dd>
        <dt>Role:</dt>
        <dd><%= @user.role %></dd>
        <dt>Access:</dt>
        <dd><%= @user.access %></dd>
        <dt>Expire Type:</dt>
        <dd><%= @user.expire_type %></dd>
        <dt><%= form.label :expires, expired_text %></dt>
        <dd><%= form.text_field :expires, value: @user.expires_string, size: 12, id: :expires_field, class: expires_class %>
          <% unless @user.expired? %>
            <%= form.button "Expire Now", type: :button, onclick: "$('#expires_field').val('#{Time.current.to_s(:db)}');" %>
          <% end %>
        </dd>

        <dt><%= form.label :iprestrict %></dt>
        <dd><%= form.text_field :iprestrict, size: 40, id: :iprestrict_field, disabled: @user.mfa %></dd>
        <dt>Multi-Factor?:</dt>
        <dd><%= form.check_box :mfa, id: :mfa_checkbox, onclick: "check_mfa();" %></dd>
        <dt>Identity Provider:</dt>
        <dd><%= @user.identity_provider %></dd>
        <dt>Institution:</dt>
        <dd><%= @user.institution %></dd>
      </dl>
    </div>


    <div>
      <%= form.submit 'Submit Changes' %>
    </div>

  <% end %>

  <%= link_to 'Back', ht_users_path %>
</div>

