<div id="maincontent" class="row">
  <h1>Users</h1>

  <%= render 'shared/flash_message' %>
  <%= form_tag(ht_users_path, method: :get) do %>
    E-mail <%= text_field_tag :email, params[:email] %>
    <%= submit_tag 'Search', name: nil %>
  <% end %>

  <h2>Active Users</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>E-mail</th>
        <th>Name</th>
        <th>ID</th>
        <th>Role</th>
        <th>Institution</th>
        <th>Expires</th>
        <th>IP Restriction</th>
        <th>MFA?</th>
        <th>Expiring Soon?</th>
      </tr>
    </thead>

    <% @users.active.each do |u| %>
      <tr>
        <td><%= link_to u.email, ht_user_path(u) %></td>
        <td><%= u.displayname %></td>
        <td><%= u.userid %></td>
        <td><%= u.role %></td>
        <td><%= u.institution %></td>
        <td><%= u.expires(short: true) %></td>
        <td><%= u.iprestrict %></td>
        <td>
          <%= raw u[:mfa] ? '<i class="glyphicon glyphicon-ok"></i>' : '' %>
        </td>
        <td>
          <% if u.expiring_soon? %>
            <span class="glyphicon glyphicon-exclamation-sign text-danger"><br><%= u.days_until_expiration %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <h2>Expired Users</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>E-mail</th>
        <th>Name</th>
        <th>ID</th>
        <th>Role</th>
        <th>Institution</th>
        <th>Expires</th>
        <th>IP Restriction</th>
        <th>MFA?</th>
      </tr>
    </thead>
    <% @users.expired.each do |u| %>
      <tr>
        <td><%= link_to u.email, ht_user_path(u) %></td>
        <td><%= u.displayname %></td>
        <td><%= u.userid %></td>
        <td><%= u.role %></td>
        <td><%= u.institution %></td>
        <td><%= u.expires(short: true) %></td>
        <td><%= u.iprestrict %></td>
        <td>
          <%= raw u[:mfa] ? '<i class="glyphicon glyphicon-ok"></i>' : '' %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

