<div id="maincontent" class="row">
  <h1>Users</h1>

  <%= render 'shared/flash_message' %>

  <%= form_tag(ht_approval_requests_path, method: :post) do %>

  <h2 class="pull-left">Active Users</h2>
  <table id="active_users" class="table table-striped" data-toggle="table" data-height="460" data-virtual-scroll="true"
         data-search="true" data-show-search-clear-button="true">
    <thead class="thead-dark">
    <tr>
      <% if can?(:create, :ht_approval_requests) || can?(:edit, :ht_users) %>
        <th data-sortable="true">Select</th>
      <% end %>
      <th data-sortable="true">E-mail</th>
      <th>Name</th>
      <th data-sortable="true">Role</th>
      <th data-sortable="true">Institution</th>
      <th data-sortable="true">Expires</th>
      <th data-sortable="true">Renewal Status</th>
      <th>IP Restriction</th>
      <th data-sortable="true">MFA?</th>
    </tr>
    </thead>

    <% @users.each do |u| %>
      <tr>
        <% if can?(:create, :ht_approval_requests) || can?(:edit, :ht_users) %>
          <td><%= u.select_for_renewal_checkbox %></td>
        <% end %>
        <td><%= u.email_link %></td>
        <td><%= u.displayname %></td>
        <td><%= u.role_name %></td>
        <td><%= link_to u.institution, ht_institution_path(u.ht_institution.inst_id) %></td>
        <td class="text-nowrap <%= u.expiring_soon? ? "bg-danger" : '' %>">
          <%= u.expires_string %>
          <% if u.expiring_soon? %>
            <div class="text-danger">
              <span class="expiring-soon text-danger"><%= u.days_until_expiration %>
                days</span>
            </div>
          <% end %>
        </td>
        <td><%= u.badge %></td>
        <td><%= u.iprestrict&.join(', ') %></td>
        <td><%= u.mfa_icon %></td>
      </tr>
    <% end %>
  </table>
  <br/>

  <% if can?(:create, :ht_approval_requests)  %>
    <%= button_tag 'Create Approval Requests', type: 'submit', name: 'submit_requests', class: 'btn btn-primary' %>
  <% end %>
  <% if can?(:edit, :ht_users) %>
    <%= button_tag 'Renew Selected Users', type: 'submit', name: 'submit_renewals', class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'Download CSV', ht_users_url(format: :csv), class: 'btn btn-info' %>
  <% end # form_tag %>

  <h2 class="pull-left">Expired Users</h2>
  <table id="expired_users" class="table table-striped" data-toggle="table" data-height="460" data-virtual-scroll="true"
         data-search="true" data-thead-classes="thead-dark" data-show-search-clear-button="true">
    <thead>
    <tr>
      <th data-sortable="true">E-mail</th>
      <th>Name</th>
      <th data-sortable="true">Role</th>
      <th data-sortable="true">Institution</th>
      <th data-sortable="true">Expired</th>
      <th>IP Restriction</th>
      <th data-sortable="true">MFA?</th>
    </tr>
    </thead>
    <% @expired_users.each do |u| %>
      <tr>
        <td><%= u.email_link %></td>
        <td><%= u.displayname %></td>
        <td><%= u.role_name %></td>
        <td><%= u.institution %></td>
        <td><%= u.expires_string %></td>
        <td><%= u.iprestrict&.join(', ') %></td>
        <td><%= u.mfa_icon %></td>
      </tr>
    <% end %>
  </table>
</div>

