<div id="maincontent" class="row">
  <h1><%= t ".users" %></h1>

  <% fields = HTUserPresenter::INDEX_FIELDS %>
  <%= form_tag(ht_approval_requests_path, method: :post) do %>

  <h2 class="pull-left"><%= t ".active_users" %></h2>
  <table id="active_users" class="table table-striped" data-toggle="table" data-height="460" data-virtual-scroll="true"
         data-search="true" data-show-search-clear-button="true">
    <thead class="thead-dark">
    <tr>
      <% if can?(:create, HTApprovalRequest) || can?(:edit, HTUser) %>
        <th data-sortable="true"><%= t ".select" %></th>
      <% end %>
      <% fields.each do |field| %>
        <th data-sortable="true"><%= HTUserPresenter.field_label field %></th>
      <% end %>
    </tr>
    </thead>

    <% @users.each do |u| %>
      <tr>
        <% if can?(:create, HTApprovalRequest) || can?(:edit, HTUser) %>
          <td><%= u.select_for_renewal_checkbox %></td>
        <% end %>
        <% fields.each do |field| %>
          <td><%= u.field_value field %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <br/>

  <% if can?(:create, HTApprovalRequest)  %>
    <%= button_tag t(".create_approval_requests"), type: 'submit', name: 'submit_requests', class: 'btn btn-primary' %>
  <% end %>
  <% if can?(:edit, HTUser) %>
    <%= button_tag t(".renew_selected_users"), type: 'submit', name: 'submit_renewals', class: 'btn btn-primary' %>
  <% end %>
  <%= link_to t(".download_csv"), ht_users_url(format: :csv), class: 'btn btn-info' %>
  <% end # form_tag %>

  <h2 class="pull-left"><%= t ".expired_users" %></h2>
  <table id="expired_users" class="table table-striped" data-toggle="table" data-height="460" data-virtual-scroll="true"
         data-search="true" data-thead-classes="thead-dark" data-show-search-clear-button="true">
    <thead>
    <tr>
      <% fields.each do |field| %>
        <th data-sortable="true"><%= HTUserPresenter.field_label field %></th>
      <% end %>
    </tr>
    </thead>
    <% @expired_users.each do |u| %>
      <tr>
        <% fields.each do |field| %>
          <td><%= u.field_value field %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

