<div id="maincontent" class="row">
  <h1 class="heading-large"><%= @user.displayname %></h1>


  <% expired_text = @user.expired? ? "Expired" : "Expires"
     expires_class = @user.expiring_soon? ? "expiring-soon" : ""
  %>

  <%= render 'shared/flash_message' %>

  <div class="col-sm-6">
    <dl class="dl-horizontal">
      <dt>E-mail:</dt> <dd><%= @user.email %></dd>
      <dt>Display Name:</dt> <dd><%= @user.displayname %></dd>
      <dt>User ID:</dt> <dd><%= @user.userid %></dd>
      <dt>Activity Contact:</dt> <dd><%= @user.activitycontact %></dd>
      <dt>Approver:</dt> <dd><%= @user.approver %></dd>
      <dt>Authorizer:</dt> <dd><%= @user.authorizer %></dd>
      <dt>User Type:</dt> <dd><%= @user.usertype %></dd>
      <dt>Role:</dt> <dd><%= @user.role %></dd>
      <dt>Access:</dt> <dd><%= @user.access %></dd>
      <dt>Expire Type:</dt> <dd><%= @user.expire_type %></dd>
      <dt><%= expired_text %></dt> <dd class="<%= expires_class %>"><%= @user.expires_string %></dd>
      <dt>IP Restriction:</dt> <dd><%= @user.iprestrict %></dd>
      <dt>Multi-Factor?:</dt> <dd><%= @user.mfa %></dd>
      <dt>Identity Provider:</dt> <dd><%= @user.identity_provider %></dd>
      <dt>Institution:</dt> <dd><%= @user.institution %></dd>
    </dl>

    <%= link_to 'Edit', edit_ht_user_path %>
  </div>
</div>


