<div id="maincontent" class="row">
  <h1><%= @user.displayname %></h1>

  <%= render 'shared/flash_message' %>

  <div class="col-sm-6">
    <dl class="dl-horizontal">
      <% HTUserPresenter::ALL_FIELDS.each do |field| %>
        <dt><%= @user.field_label field %></dt> <dd><%= @user.field_value field %></dd>
      <% end %>
    </dl>
    <hr/>
    <dl class="dl-horizontal">
      <% HTUserPresenter::COUNT_FIELDS.each do |field| %>
        <dt><%= @user.field_label field %></dt> <dd><%= @user.field_value field %></dd>
      <% end %>
    </dl>

    <% if can?(:edit, HTUser) %>
      <%= link_to t('.edit'), edit_ht_user_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
