<div id="maincontent" class="row">
  <h1><%= @user.displayname %></h1>

  <div class="col-sm-6">
    <dl class="row">
      <% @user.all_fields.each do |field| %>
        <dt class="col-sm-3"><%= @user.field_label field %></dt>
        <dd class="col-sm-9"><%= @user.field_value field %></dd>
      <% end %>
    </dl>
    <hr/>
    <dl class="row">
      <% @user.ht_counts_fields.each do |field| %>
        <dt class="col-sm-3"><%= @user.field_label field %></dt>
        <dd class="col-sm-9"><%= @user.field_value field %></dd>
      <% end %>
    </dl>

    <% if can?(:edit, HTUser) %>
      <%= link_to t('.edit'), edit_ht_user_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
