  <h1><%= @contact.email %></h1>

  <%= form_with(model: @contact, local: true, id: 'edit_ht_contact_form') do |form| %>
    <div class="col-sm-6">
    
      <dl class="dl-horizontal">
        <% @contact.all_fields.each do |field| %>
          <dt><%= @contact.field_label field, form: form %></dt>
          <dd><%= @contact.field_value field, form: form %></dd>
        <% end %>
      </dl>

      <%= form.submit t(".submit_changes"), class: 'btn btn-primary' %>
      <%= link_to t(".cancel"), @contact.cancel_path, class: 'btn btn-primary' %>
    </div>
  <% end %>
