<div id="maincontent">

  <h2 class="float-start"><%= t ".contacts" %></h2>
  
  <% fields = HTContactPresenter::ALL_FIELDS %>
  <table id="contacts" class="table table-striped" data-toggle="table" data-height="460" data-virtual-scroll="true"
         data-search="true" data-show-search-clear-button="true">
    <thead class="thead-dark">    
    <tr>
      <% fields.each do |field| %>
        <th data-sortable="true"><%= HTContactPresenter.field_label field %></th>
      <% end %>
    </tr>
    </thead>

    <% @contacts.each do |c| %>
      <tr>
        <% fields.each do |field| %>
          <td><%= c.field_value field %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <br />

  <div class="col">
    <% if can?(:create, HTContact) %>
      <%= link_to t(".add_new_contact"), new_ht_contact_path, class: 'btn btn-primary my-4' %>
    <% end %>
    <% if @contacts.any? %>
      <%= link_to t(".download_csv"),
                  ht_contacts_url(format: :csv, contact_type: params[:contact_type]),
                  class: 'btn btn-info text-light my-4' %>
    <% end %>
  </div>

</div>

