<div id="maincontent" class="row">
  <h1><%= @contact.email %></h1>

  <div class="col-sm-6">
    <dl class="dl-horizontal">
      <% @contact.all_fields.each do |field| %>
        <dt><%= @contact.field_label field %></dt>
        <dd><%= @contact.field_value field %></dd>
      <% end %>
    </dl>
    <br/>

    <% if can?(:edit, HTContact) %>
      <%= link_to t(".edit"), edit_ht_contact_path, class: 'btn btn-primary' %>
    <% end %>

    <% if can?(:destroy, HTContact) %>
      <%= link_to t(".delete"), ht_contact_path, method: :delete, class: 'btn btn-danger',
                  data: { confirm: t(".confirm_delete", email: @contact.email) } %>
    <% end %>
  </div>
</div>
