<script>
  function applyDateRangeFilter() {
    $('#table').bootstrapTable('refresh')
  }

  function clearDateRangeFilter() {
    $('#date-start').val("<%= @date_start %>");
    $('#date-end').val("<%= @date_end %>");
    $('#table').bootstrapTable('clearFilterControl')
    $('#table').bootstrapTable('refresh')
  }

  function queryParams(params) {
    params.dateStart = $('#date-start').val();
    params.dateEnd = $('#date-end').val();
    return params
  }

  var role_map = {"ssdproxy": "ATRS Proxy", "resource_sharing": "Resource Sharing"};
</script>

<style type="text/css">
  .report-toolbar {
    /*margin: 1rem 0;*/
    display: flex;
    justify-content: space-between;
    max-width: 90vw;
  }

  .min--250 {
    min-width: 250px;
  }
  .min--150 {
    min-width: 150px;
  }

  /* Show/hide column control menu items */
  .dropdown-item-marker {
    white-space:nowrap;
  }

  .bootstrap-table .fixed-table-container .table thead th {
    vertical-align: top;
  }
</style>

<div id="maincontent">
  <h2><%= t ".download_reports" %></h1>

  <div class="row">
    <div class="report-toolbar" id="toolbar">
      <div class="input-group" id="form-daterange-filter">
        <div class="input-group">
          <label class="input-group-text" for="date-start date-end"><%= t ".date_range" %> </label>
          <input class="form-control"
            type="text"
            size="11"
            value="<%= @date_start %>"
            name="date-start"
            id="date-start"
            onchange="applyDateRangeFilter();"
          />
          <span class="input-group-text"> - </span>
          <input class="form-control"
            type="text"
            size="11"
            value="<%= @date_end %>"
            name="date-end"
            id="date-end"
            onchange="applyDateRangeFilter();"
          />
          <button class="btn btn-outline-primary"
            id="action-datetime-filter"
            onclick="applyDateRangeFilter();"
          >
            <%= t ".filter" %>
          </button>
          <button class="btn btn-outline-secondary"
            id="action-clear-datetime-filter"
            onclick="clearDateRangeFilter();"
          >
            <%= t ".clear_filter" %>
            <i class="bi bi-trash" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <table id="table"
      class="table table-striped table-bordered table-hover table-condensed"
      data-export-data-type="all"
      data-export-options='{"fileName": "SSDProxyReport"}'
      data-export-types="['json', 'xml', 'csv', 'excel']"
      data-filter-control="true"
      data-filter-control-multiple-search="true"
      data-filter-default=""
      data-locale="<%= language_region_locale %>"
      data-pagination="true"
      data-pagination-v-align="both"
      data-query-params="queryParams"
      data-query-params-type=""
      data-search="false"
      data-show-columns="true"
      data-show-export="true"
      data-show-extended-pagination="true"
      data-show-filter-control-switch="true"
      data-show-search-clear-button="false"
      data-side-pagination="server"
      data-sort-select-options="true"
      data-toggle="table"
      data-toolbar="#toolbar"
      data-url="ht_downloads?format=json&locale=<%= I18n.locale %>"
    >
      <thead class="thead-dark">    
        <tr>
          <% fields = HTDownloadPresenter::ALL_FIELDS %>
          <% fields.each do |field| %>
            <% control = HTDownloadPresenter.data_filter_control(field) %>
            <% th_class = HTDownloadPresenter.header_class(field) %>
            <% filter_data = HTDownloadPresenter.data_filter_data(field) %>
            <th data-field="<%= field %>"
              class="<%= th_class %>"
              data-filter-control="<%= control %>"

              <% if filter_data %>
                <%= "data-filter-data='#{filter_data}'".html_safe %>
              <% end %>

              data-sortable="true"
              data-tableexport-value="<%= field.to_s.titleize %>"
            >
              <%= HTDownloadPresenter.field_label field %>
            </th>
          <% end %>
        </tr>
      </thead>
    </table>
  </div>
</div>

