<div id="maincontent" class="row">
  <h1><%= t ".approval_requests" %></h1>
  <% if can?(:edit, HTApprovalRequest) %>
    <p><%= t ".instructions" %></p>
  <% end %>

  <% fields = HTApprovalRequestPresenter::INDEX_FIELDS %>
  <%= form_tag(ht_approval_requests_path, method: :post) do %>

  <h2 class="pull-left"><%= t ".active_requests" %></h2>
  <table id="active_users" class="table table-striped" data-toggle="table" data-height="460" data-virtual-scroll="true"
         data-search="true" data-show-search-clear-button="true" data-locale="ja">  
    <thead class="thead-dark">
    <tr>
      <th data-sortable="false"><%= t ".select" %></th>
      <% fields.each do |field| %>
        <th data-sortable="true"><%= HTApprovalRequestPresenter.field_label field %></th>
      <% end %>
    </tr>
    </thead>

    <% @incomplete_reqs.each do |req| %>
      <%= tag(:tr, class: @added_users.include?(req.userid) ? :success : nil) %>
        <td>
          <% if can?(:edit, HTApprovalRequest) %>
            <%= req.select_for_renewal_checkbox %>
          <% end %>
        </td>
        <td>
          <% if can?(:edit, HTApprovalRequest) %>
            <%= req.approver_link %>
          <% else %>
            <%= req.approver %>
          <% end %>
        </td>
        <td>
          <%= req.userid_link(label: can?(:edit, HTApprovalRequest)) %>
        </td>
        <td class="text-nowrap">
          <%= req.sent(short: true) %>
          <% if req.renewal_state == :expired %>
            <%= req.badge %>
          <% end %>
        </td>
        <td><%= req.received(short: true) %></td>
        <td>
          <%= req.renewed(short: true) %>
        </td>
      </tr>
    <% end %>
  </table>
  <br/>
  <% if can?(:edit, HTUser) %>
    <%= submit_tag t(".renew_selected"), name: 'submit_renewals', class: 'btn btn-primary' %>
  <% end %>
  <% if can?(:destroy, HTApprovalRequest) && HTApprovalRequest.expired.any? %>
    <%= submit_tag t(".delete_expired"), name: 'delete_expired', class: 'btn btn-danger',
                   data: { confirm: t(".confirm_delete", count: HTApprovalRequest.expired.count) } %>
  <% end %>
  <% end # form-tag %>
  <h2 class="pull-left"><%= t ".inactive_requests" %></h2>
  <table id="inactive_users" class="table table-striped" data-toggle="table" data-height="460" data-virtual-scroll="true"
         data-search="true" data-show-search-clear-button="true">
    <thead class="thead-dark">
    <tr>
      <% fields.each do |field| %>
        <th data-sortable="true"><%= HTApprovalRequestPresenter.field_label field %></th>
      <% end %>
    </tr>
    </thead>

    <% @complete_reqs.each do |req| %>
      <%= tag(:tr, class: @renewed_users.include?(req.userid) ? :success : nil) %>
        <td><%= req.approver %></td>
        <td><%= link_to req.userid, ht_user_path(req.userid) %></td>
        <td><%= req.sent(short: true) %></td>
        <td><%= req.received(short: true) %></td>
        <td><%= req.renewed(short: true) %></td>
      </tr>
    <% end %>
  </table>
</div>

