<div id="maincontent" class="row">
  <h1>Approval Requests</h1>
  <% if can?(:edit, :ht_approval_requests) %>
    <p>To edit and send an approval request email, click on an approver email.</p>
  <% end %>

  <%= render 'shared/flash_message' %>

  <%= form_tag(ht_approval_requests_path, method: :post) do %>
  <table id="active_users" class="table table-striped" data-toggle="table" data-height="460" data-virtual-scroll="true"
         data-search="true" data-show-search-clear-button="true">
    <thead class="thead-dark">
    <tr>
      <% if can?(:edit, :ht_approval_requests) %>
        <th data-sortable="false">Select</th>
      <% end %>
      <th data-sortable="true">Approver</th>
      <th data-sortable="true">User</th>
      <th data-sortable="true">Sent</th>
      <th data-sortable="true">Approved</th>
      <th data-sortable="true">Renewed</th>
    </tr>
    </thead>

    <% @reqs.each do |req| %>
      <tr <%= raw @added_users.include?(req.userid) || @renewed_users.include?(req.userid) ? 'class="success"' : '' %>>
        <% if can?(:edit, :ht_approval_requests) %>
          <td>
            <% if req.received.present? %>
                <%= check_box_tag 'ht_users[]', req.userid %>
              <% end %>
          </td>
        <% end %>
        <td>
          <% # First if clause is always true, right? Remove if so. %>
          <% if HTApprovalRequest.for_approver(req.approver).count.positive? &&
                can?(:edit, :ht_approval_requests) %>
            <%= link_to req.approver, edit_ht_approval_request_path(req.approver) %>
          <% else %>
            <%= req.approver %>
          <% end %>
        </td>
        <td><%= link_to req.userid, ht_user_path(req.userid) %></td>
        <td>
          <%= req.sent(short: true) %>
          <% if req.renewal_state == :expired %>
            <span class="label label-danger">Expired</span>
          <% end %>
        </td>
        <td><%= req.received(short: true) %></td>
        <td><%= req.renewed(short: true) %></td>
      </tr>
    <% end %>
  </table>
  <br/>
  <% if can?(:edit, :ht_users) %>
    <%= submit_tag 'Renew Selected Users', name: 'submit_renewals', class: 'btn btn-primary' %>
  <% end %>
  <% end # form-tag %>
</div>

