<div id="maincontent" class="row">
  <h1><%= t ".requests_for", approver: params[:id] %></h1>

  <% if @reqs.count == 0 %>
    <%= t ".no_requests", approver: params[:id] %>
  <% else %>
    <ul class="list-group">
    <% @reqs.each do |req| %>
      <li class="list-group-item">
        <%= req.userid %>
        <%= req.badge %>
      </li>
    <% end %>
    </ul>
    <% counts = controller.status_counts %>
    <% if counts[:unsent]&.positive? || counts[:expired]&.positive? %>
      <%= link_to t(".edit"), edit_ht_approval_request_path, class: 'btn btn-primary' %>
    <% end %>
  <% end %>
</div>
