<div id="maincontent" class="row">
  <h1>Approval Requests for <%= params[:id] %></h1>

  <%= render 'shared/flash_message' %>
  <% if @reqs.count == 0 %>
    There are no outstanding requests for this approver.
  <% else %>
    <ul class="list-group">
    <% @reqs.each do |req| %>
      <li class="list-group-item">
        <%= req.userid %></dt>
        <%= HTApprovalRequestPresenter.badge_for(req) %>
      </li>
    <% end %>
    </ul>
    <% counts = controller.status_counts %>
    <% if counts[:unsent]&.positive? || counts[:expired]&.positive? %>
      <%= link_to 'Edit', edit_ht_approval_request_path, class: 'btn btn-primary' %>
    <% end %>
  <% end %>
</div>
