<div id="maincontent" class="row">

  <div id="registration-message">
    <% if @registration.expired? %>
      <p><%= t ".expired_html", user: @registration.applicant_email %></p>
      </p>
    <% else %>
      <div class="d-flex gap-3">
      <i class="bi bi-check-circle-fill" aria-hidden="true"></i>
      <h2 class="m-0">
        <%= t ".submitted_heading" %>
      </h2>
      </div>
      <div>
        <p><%= t ".submitted_success_html", service: @registration.service_role.full_name %></p>
        <p><%= t ".submitted_followup_html", email: @registration.applicant_email %></p>
        <p><%= t ".submitted_you_may_close" %></p>
      </div>
    <% end %>
  </div>
</div>
