<div id="maincontent" class="row">

  <% if @registration.expired? %>
    <p><%= t ".expired_html", user: @registration.applicant_email %></p>
    </p>
  <% else %>
    <% service_name = t "ht_registration.values.service_name." + @registration.service_role.name.downcase %>
    <h2>
      <span class="registration-landing-check align-items-center justify-content-center border rounded-circle">
        <i class="bi bi-check" aria-hidden="true"></i>
      </span>
      <%= t ".submitted_heading" %>
    </h2>
    <p><%= t ".submitted_success_html", service: service_name %></p>
    <p><%= t ".submitted_followup_html", email: @registration.applicant_email %></p>
    <p><%= t ".submitted_you_may_close" %></p>
  <% end %>
</div>
