<table style="border: 1px solid black; border-collapse: collapse;">
<tr style="border: 1px solid black;">
  <th style="padding: 6px; text-align: left;">Name</th>
  <th style="padding: 6px; text-align: left;">E-mail</th>
  <th style="padding: 6px; text-align: left;">Activity</th>
  <th style="padding: 6px; text-align: left;">Term</th>
  <th style="padding: 6px; text-align: left;">Expires</th>
  <th style="padding: 6px; text-align: left;"></th>
</tr>
  <% role_stars = {} %>
  <% @reqs.each do |req| %>
    <% next unless req.mailable? %>
    <% u = req.ht_user %>
    <% unless role_stars[u.role] %>
      <% role_stars[u.role] = role_stars.count + 1 %>
    <% end %>
    <tr>
    <td style="padding: 6px;"><%= u.displayname %></td>
    <td style="padding: 6px;"><%= u.email %></td>
    <td style="padding: 6px;"><%= u.role %><%= '*' * role_stars[u.role] %></td>
    <td style="padding: 6px;"><%= u.expiration_date.extension_period_text %></td>
    <td style="padding: 6px;"><%= u.expires_string %></td>
    <td style="padding: 6px;">
      <% if(@preview) %>
        <b>Approve User</b>
      <% else %>
        <%= link_to 'Approve User', approve_url(req.token, host: @base_url), style: "font-weight: bold;" %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
<br/>
<% role_stars.each do |k,v| %>
  <span><%= "#{'*' * v} #{HTUser.role_map[k]}" %></span><br/>
<% end %>

