<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag Otis.config.image.hathitrust.logo.name,
            size: Otis.config.image.hathitrust.logo.size,
            alt: I18n.t("global.hathitrust_logo"),
            class: "d-inline-block align-top" %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% unless logged_in? %>
      <span class="navbar-text" id="nav-not-logged-in"><%= I18n.t("global.not_logged_in") %></span>
    <% else %>
      <span class="navbar-text" id="nav-logged-in"><%= I18n.t("global.logged_in") %></span>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% unless Rails.env.production? %>
            <li class="nav-item">
              <%= link_to I18n.t("global.log_out"), logout_path, class: "nav-link" %>
            </li>
          <% end %>
          <% nav_menu.tap do |nav| %>
            <% if nav.any? %>
              <li class="nav-item">
                <%= link_to I18n.t("global.home"), controller.default_path, class: "nav-link" %>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                   id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                   <%= I18n.t("global.go") %> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <% nav.each do |item| %>
                    <li>
                      <%= link_to I18n.t("global.menus.#{item[:item]}"), item[:path], class: "dropdown-item" %>
                    </li>
                  <% end %>
                </ul>
              </li>
             <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</nav>
