<nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom py-1 mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag Otis.config.image.hathitrust.logo.name,
            size: Otis.config.image.hathitrust.logo.size,
            alt: I18n.t("global.hathitrust_logo"),
            class: "d-inline-block" %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-lg-0 align-items-center gap-3">
        <% unless logged_in? %>
          <li class="nav-item" id="nav-not-logged-in">
            <span class="nav-link"><%= I18n.t("global.not_logged_in") %></li></span>
        <% else %>
          <li class="nav-item" id="nav-logged-in">
            <span class="nav-link"><%= I18n.t("global.logged_in") %></span>
          </li>
        
          <% nav_menu.tap do |nav| %>
            <% if nav.any? %>
              <li class="nav-item">
                <%= link_to I18n.t("global.home"), controller.default_path, class: "nav-link" %>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                   id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                   <%= I18n.t("global.go") %> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <% nav.each do |item| %>
                    <li>
                      <%= link_to I18n.t("global.menus.#{item[:item]}"), item[:path], class: "dropdown-item" %>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
