<html>
  <body>
    <% if @req.nil? %>
      <% # The not found message appears to be unused since the controller
         # generates a 404 if there is nothing to be had. %>
      <p><%= t "approval.new.not_found_html", token: @token %></p>
    <% elsif @req.expired? %>
      <p><%= t "approval.new.expired_html", user: @user.email,
               mailto: mail_to(ApplicationMailer.default[:from]) %></p>
    <% elsif @already_used %>
      <p><%= t "approval.new.already_used_html" %></p>
    <% else %>
      <p><%= t "approval.new.thanks" %></p>
      <p><%= t "approval.new.recorded_html", user: @user.email, approver: @req.approver %></p>
    <% end %>
  </body>
</html>
