<html>
  <body>
    <% if @req.nil? %>
      <strong>No approval request found for token <%= @token %></strong>
    <% elsif @req.expired? %>
      <strong>Approval request for <%= @user.email %> has expired.
              Please contact <%= mail_to ApplicationMailer.default[:from] %>.</strong>
    <% elsif @already_used %>
      <strong>This link is no longer valid; it may have already been used.</strong>
    <% else %>
      <p>Thank you.</p>
      <p>Elevated access approval recorded for <strong><%= @user.email %></strong>
         from <strong><%= @req.approver %></strong>.</p>
    <% end %>
  </body>
</html>
