  <h1><%= @contact.email %></h1>

  <%= render 'shared/flash_message' %>

  <%= form_with(model: @contact, local: true, id: 'edit_contact_form') do |form| %>
    <div class="col-sm-6">
      <dl class="dl-horizontal">
        <dt>Institution:</dt> <dd><%= form.collection_select(:inst_id, HTInstitution.enabled.all, :inst_id, :name) %></dd>

        <dt>Type:</dt> <dd><%= form.collection_select(:contact_type, ContactType.all, :id, :name) %></dd>

        <dt>Email:</dt>
        <dd><%= form.text_field :email, size: 80 %></dd>
      </dl>

      <%= form.submit 'Submit Changes', class: 'btn btn-primary' %>
      <%= @contact.cancel_button %>
    </div>

  <% end %>
