<div id="maincontent" class="row">

  <% if @registration.expired? %>
    <p><%= t ".expired_html", user: @registration.applicant_email,
             mailto: mail_to(ApplicationMailer.default[:from]) %></p>
    </p>
  <% else %>
    <%= t ".success_html", user: @registration.applicant_email %>
    <% case @message_type %>
    <% when :success_mfa %>
      <%= t ".success_mfa_html" %>
    <% when :success_mfa_addendum %>
      <%= t ".success_mfa_addendum_html" %>
    <% when :success_static_ip %>
      <%= t ".success_static_ip_html", ip: @ip_address %>
    <% else %>
      <% # Fall-through should never happen. Display nothing additional %>
    <% end %>
  <% end %>
</div>
