  <h1><%= @institution.name %></h1>

  <%= render 'shared/flash_message' %>

  <%= form_with(model: @institution, local: true, id: 'edit_ht_institution_form') do |form| %>
    <div class="col-sm-6">
      <dl class="dl-horizontal">
        <dt>Institution ID:</dt> <dd><%= @institution.form_inst_id(form) %></dd>

        <dt>Name:</dt>
        <dd><%= form.text_field :name, size: 80 %></dd>

        <dt>Domain:</dt> 
        <dd> <%= form.text_field :domain, size: 40 %> </dd>

        <dt>Mapped Name:</dt>
        <dd><%= form.text_field :mapto_name, size: 80 %></dd>

        <dt>Entity ID</dt>
        <dd><%= form.text_field :entityID, size: 80 %></dd>

        <dt>Holdings Institution ID:</dt>
        <dd><%= form.text_field :mapto_inst_id %></dd>

        <dt>US:</dt>
        <dd><%= form.check_box :us %></dd>

        <dt>GRIN Instance:</dt> <dd>
        <%= form.text_field :grin_instance %></dd>

        <dt>MFA auth context:</dt>
        <dd><%= form.text_field :shib_authncontext_class, size: 80 %></dd>

        <dt>Affiliations:</dt>
        <dd><%= form.text_field :allowed_affiliations, size: 40 %></dd>

        <dt>Affiliations for ETAS:</dt>
        <dd><%= form.text_field :emergency_status, size: 40 %></dd>

        <dt>ETAS Contact:</dt>
        <dd><%= form.text_field :emergency_contact, size: 40 %></dd>

        <dt>Enabled for Login:</dt> <dd>
        <%= form.select :enabled, @institution.badge_options %>
        </dd>

        <% if @institution.show_create_billing_member? %>
          <dt>Add billing info?:</dt> <dd>
          <%= check_box_tag :create_billing_member %>
          </dd>
        <% end %>
      </dl>
      <%= form.fields_for :ht_billing_member, @institution.ht_billing_member || HTBillingMember.new do |billing_form| %>
      <dl class="dl-horizontal">
        <dt>Weight:</dt>
        <dd><%= billing_form.text_field :weight, size:8 %></dd>
        <dt>OCLC Symbol:</dt>
        <dd><%= billing_form.text_field :oclc_sym, size:8 %> (<a target="_blank" href="https://www.oclc.org/en/contacts/libraries.html">Lookup</a>)</dd>
        <dt>MARC Code:</dt>
        <dd><%= billing_form.text_field :marc21_sym, size:8 %> (<a target="_blank" href="https://www.loc.gov/marc/organizations/">Lookup</a>)</dd>
        <dt>Country Code:</dt>
        <dd><%= billing_form.text_field :country_code, size:8 %> (<a target="_blank" href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2">Lookup</a>)</dd>
        <dt>Enabled for Billing:</dt>
        <dd><%= billing_form.check_box :status %></dd>
      </dl>
      <% end %>

      <%= form.submit 'Submit Changes', class: 'btn btn-primary' %>
      <%= @institution.cancel_button %>
    </div>

  <% end %>
