  <h1><%= @institution.name %></h1>

  <%= form_with(model: @institution, local: true, id: 'edit_ht_institution_form') do |form| %>
    <div class="col-sm-6">

      <dl class="row">
        <% @institution.all_fields.each do |field| %>
          <dt class="col-sm-3"><%= @institution.field_label field, form: form %></dt>
          <dd class="col-sm-9"><%= @institution.field_value field, form: form %></dd>
        <% end %>
      </dl>
    
      <% member = @institution.ht_billing_member || HTBillingMember.new %>
      <% member = HTBillingMemberPresenter.new member,
           controller: @institution.controller, action: @institution.action %>
      <%= form.fields_for :ht_billing_member, member do |billing_form| %>
        <dl class="row">
        <% if @institution.can_create_billing_member? %>
          <dt class="col-sm-3"><label for="create_billing_member"><%= t(".add_billing_info") %></label></dt>
          <dd class="col-sm-9"><%= check_box_tag :create_billing_member %></dd>
        <% end %>
        <% member.all_fields.each do |field| %>
          <dt class="col-sm-3"><%= member.field_label field, form: billing_form %></dt>
          <dd class="col-sm-9"><%= member.field_value field, form: billing_form %></dd>
        <% end %>
        </dl>
      <% end %>

      <%= form.submit t(".submit_changes"), class: 'btn btn-primary' %>
      <% path = @institution.persisted? ? ht_institution_path(@institution) : ht_institutions_path %>
      <%= link_to t(".cancel"), path, class: 'btn btn-primary' %>
    </div>

  <% end %>
