  <h1><%= @institution.name %></h1>

  <%= render 'shared/flash_message' %>

  <%= form_with(model: @institution, local: true, id: 'edit_ht_institution_form') do |form| %>
    <div class="col-sm-6">

      <dl class="dl-horizontal">
        <% HTInstitutionPresenter::ALL_FIELDS.each do |field| %>
          <dt><%= @institution.field_label field, form: form %></dt>
          <dd><%= @institution.field_value field, form: form %></dd>
        <% end %>
      </dl>
    
      <% member = @institution.ht_billing_member || HTBillingMember.new %>
      <% member = HTBillingMemberPresenter.new member,
           controller: @institution.controller, action: @institution.action %>
      <%= form.fields_for :ht_billing_member, member do |billing_form| %>
        <dl class="dl-horizontal">
        <% if @institution.can_create_billing_member? %>
          <dt><label for="create_billing_member"><%= t(".add_billing_info") %></label></dt>
          <dd><%= check_box_tag :create_billing_member %></dd>
        <% end %>
        <% HTBillingMemberPresenter::ALL_FIELDS.each do |field| %>
          <dt><%= member.field_label field, form: billing_form %></dt>
          <dd><%= member.field_value field, form: billing_form %></dd>
        <% end %>
        </dl>
      <% end %>

      <%= form.submit t(".submit_changes"), class: 'btn btn-primary' %>
      <% path = @institution.persisted? ? ht_institution_path(@institution) : ht_institutions_path %>
      <%= link_to t(".cancel"), path, class: 'btn btn-primary' %>
    </div>

  <% end %>
