<div id="maincontent" class="row">

  <%= render 'shared/flash_message' %>

  <h2 class="pull-left">Enabled Institutions</h2>

  <table id="active_users" class="table table-striped" data-toggle="table" data-height="460" data-virtual-scroll="true"
         data-search="true" data-show-search-clear-button="true">
    <thead class="thead-dark">
    <tr>
      <th data-sortable="true">ID</th>
      <th data-sortable="true">Name</th>
      <th data-sortable="true">Domain</th>
      <th data-sortable="true">US?</th>
      <th data-sortable="true">Entity ID</th>
      <th data-sortable="true">ETAS?</th>
    </tr>
    </thead>

    <% @enabled_institutions.each do |i| %>
      <tr>
        <td><%= link_to i.inst_id, ht_institution_path(i.inst_id) %></td>
        <td><%= i.name %></td>
        <td><%= i.domain %></td>
        <td><%= i.us_icon %></td>
        <td><%= i.metadata_link %></td>
        <td><%= i.etas_active_icon %></td>
      </tr>
    <% end %>
  </table>

  <h2 class="pull-left">Other Institutions</h2>

  <table id="expired_users" class="table table-striped" data-toggle="table" data-height="460" data-virtual-scroll="true"
         data-search="true" data-thead-classes="thead-dark" data-show-search-clear-button="true">
    <thead>
    <tr>
      <th data-sortable="true">ID</th>
      <th data-sortable="true">Name</th>
      <th data-sortable="true">Domain</th>
      <th data-sortable="true">US?</th>
      <th data-sortable="true">Enabled?</th>
      <th data-sortable="true">Entity ID</th>
    </tr>
    </thead>
    <% @other_institutions.each do |i| %>
      <tr>
        <td><%= link_to i.inst_id, ht_institution_path(i.inst_id) %></td>
        <td><%= i.name %></td>
        <td><%= i.domain %></td>
        <td>
          <%= raw i[:us] ? '<i class="glyphicon glyphicon-ok"></i>' : '' %>
        </td>
        <td><%= i.badge %></td>
        <td><%= i.metadata_link %></td>
      </tr>
    <% end %>
  </table>

  <br />
  <%= link_to 'Download CSV', ht_institutions_url(format: :csv), class: 'btn btn-info' %>
  <br />

  <% if can?(:create, :ht_institutions) %>
    <h2> Add New Institution </h2>

    <p> <a target="_blank" href="https://met.refeds.org">Search REFEDS Metadata Explorer (opens in new tab)</a> for a SAML
    entity ID and enter it here to pre-populate the institution data:</p>

    <%= form_with url: new_ht_institution_path, method: :get, local: true do |form| %>
      <%= form.label :entityID, "Entity ID:" %>
      <%= form.text_field :entityID, size: 40 %>
      <%= form.submit "Load Metadata", class: 'btn btn-primary' %>
    <% end %>

    <p> Or, manually provide the information:

    <%= link_to 'Add New Instititution', new_ht_institution_path, class: 'btn btn-primary' %>

    </p>
  <% end %>

</div>

