<div id="maincontent">

  <% fields = HTInstitutionPresenter::INDEX_FIELDS %>

  <%= link_to t(".download_csv"), ht_institutions_url(format: :csv), class: 'btn btn-info text-light my-2' %>
  <br/>

  <h2 class="float-start"><%= t ".enabled_institutions" %></h2>

  <table id="active_institutions" class="table table-striped" data-toggle="table" data-height="460" data-virtual-scroll="true"
         data-search="true" data-show-search-clear-button="true">
    <thead class="thead-dark">
    <tr>
      <% fields.each do |field| %>
        <th data-sortable="true"><%= HTInstitutionPresenter.field_label field %></th>
      <% end %>
    </tr>
    </thead>

    <% @enabled_institutions.each do |i| %>
      <tr>
        <% fields.each do |field| %>
          <td><%= i.field_value field %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <br/>
  <% fields = HTInstitutionPresenter::INDEX_FIELDS_INACTIVE %>
  <h2 class="float-start"><%= t ".other_institutions" %></h2>

  <table id="expired_users" class="table table-striped" data-toggle="table" data-height="460" data-virtual-scroll="true"
         data-search="true" data-thead-classes="thead-dark" data-show-search-clear-button="true">
    <thead>
    
    <tr>
      <% fields.each do |field| %>
        <th data-sortable="true"><%= HTInstitutionPresenter.field_label field %></th>
      <% end %>
    </tr>
    </thead>
    <% @other_institutions.each do |i| %>
      <tr>
      <% fields.each do |field| %>
        <td><%= i.field_value field %></td>
      <% end %>
      </tr>
    <% end %>
  </table>

  <% if can?(:create, HTInstitution) %>
    <h2><%= t ".add" %></h2>

    <p><%= t ".add_hint1_html" %></p>

    <%= form_with url: new_ht_institution_path, method: :get, local: true do |form| %>
      <%= form.label :entityID, t(".entity_id") %>
      <%= form.text_field :entityID, size: 50 %>
      <%= form.submit t(".load_metadata"), class: 'btn btn-primary' %>
    <% end %>

    <p> <%= t ".add_hint2" %>
      <%= link_to t(".add"), new_ht_institution_path, class: 'btn btn-primary' %>
    </p>
  <% end %>

</div>

