<div id="maincontent" class="row">
  <h1><%= @institution.name %></h1>

  <%= render 'shared/flash_message' %>

  <div class="col-sm-6">
    <dl class="dl-horizontal">
      <dt>Institution ID:</dt> <dd><%= @institution.inst_id %></dd>
      <dt>Domain:</dt> <dd> <%= @institution.domain %> </dd>
      <dt>Name:</dt> <dd><%= @institution.name %></dd>
      <dt>Mapped Name:</dt> <dd>
      <%= @institution.formatted_mapto_name %>
      <!--      <p><small>Used when displaying the name of a logged-in user's institution, for example in the footer. This is typically used with university system members where individual campuses have separate log-in but the member is the university system as a whole.</small></p> -->
      <dt>Entity ID:</dt> <dd> <%= @institution.metadata_link %> </dd>
      <dt>Holdings Institution ID:</dt> 
      <dd><%= @institution.mapped_inst_link %>
    <!--    <p><small>The ID of the institution submitting holdings including this partner. In most cases it is the same as the institution itself. For university systems with separate login for each campus but combined holdings, this should be the ID of the system.</small></p> -->
      </dd>
      <dt>US:</dt> <dd><%= @institution.us_icon %></dd>
      <dt>GRIN Instance:</dt> <dd><%= @institution.grin_link %></dd>
      <dt>MFA auth context:</dt> <dd> <%= @institution.shib_authncontext_class %> </dd>
      <dt>Affiliations:</dt> <dd><%= @institution.allowed_affiliations %></dd>
      <dt>Affiliations for ETAS:</dt> <dd><%= @institution.etas_affiliations %></dd>
      <dt>ETAS Contact:</dt> <dd><%= @institution.emergency_contact_link %></dd>
      <dt>Enabled for Login:</dt> <dd><%= @institution.badge %></dd>
      <dt>Last Updated:</dt> <dd><%= @institution.last_update %></dd>

      <% if(@institution.ht_billing_member) %>
        <dt>Weight:</dt> <dd><%= @institution.ht_billing_member.weight %></dd>
        <dt>OCLC Symbol:</dt> <dd><%= @institution.ht_billing_member.oclc_sym %></dd>
        <dt>MARC Code:</dt> <dd><%= @institution.ht_billing_member.marc21_sym %></dd>
        <dt>Country Code:</dt> <dd><%= @institution.ht_billing_member.country_code %></dd>
        <dt>Enabled for Billing:</dt> <dd><%= @institution.billing_enabled_icon %></dd>
      <% end %>
    </dl>
    <hr/>
    <dl class="dl-horizontal">
      <dt>Active Users:</dt> <dd><%= @institution.active_user_count %></dd>
      <dt>All Users</dt> <dd><%= @institution.user_count %></dd>
    </dl>

   <br />

    <% if can?(:edit, :ht_institutions) %>
      <%= link_to 'Edit', edit_ht_institution_path, class: 'btn btn-primary' %>
    <% end %>

    <%= @institution.login_test_link %>
    <%= @institution.mfa_test_link %>

  </div>
</div>
