<div id="maincontent" class="row">
  <h1><%= @institution.name %></h1>

  <%= render 'shared/flash_message' %>

  <div class="col-sm-6">
    <dl class="dl-horizontal">
      <dt>ID:</dt> <dd><%= @institution.inst_id %></dd>
      <dt>GRIN Instance:</dt> <dd><%= @institution.grin_instance %></dd>
      <dt>Name:</dt> <dd><%= @institution.name %></dd>
      <dt>Template:</dt> <dd><%= @institution.template %></dd>
      <dt>Authtype:</dt> <dd><%= @institution.authtype %></dd>
      <dt>US:</dt> <dd><%= raw @institution[:us] ? '<i class="glyphicon glyphicon-ok"></i>' : '' %></dd>
      <dt>Mapto Domain:</dt> <dd><%= @institution.mapto_domain %></dd>
      <dt>Mapto SDR Inst:</dt> <dd><%= @institution.mapto_sdrinst %></dd>
      <dt>Mapto Inst ID:</dt> <dd><%= @institution.mapto_inst_id %></dd>
      <dt>Mapto Name:</dt> <dd><%= @institution.mapto_name %></dd>
      <dt>Mapto Entity ID:</dt> <dd ><%= @institution.mapto_entityID %></dd>
      <dt>Enabled:</dt> <dd><%= raw @institution[:enabled] ? '<i class="glyphicon glyphicon-ok"></i>' : '' %></dd>
      <dt>Orphan Agreement?:</dt> <dd><%= raw @institution[:orph_agree] ? '<i class="glyphicon glyphicon-ok"></i>' : '' %></dd>
      <dt>Entity ID:</dt> <dd><%= @institution.entityID %></dd>
      <dt>Allowed Affiliations:</dt> <dd><%= @institution.allowed_affiliations %></dd>
      <dt>Shib Class:</dt> <dd><%= @institution.shib_authncontext_class %></dd>
      <dt>Emergency Status:</dt> <dd><%= @institution.emergency_status %></dd>
      <dt>Emergency Contact:</dt> <dd><%= @institution.emergency_contact %></dd>
    </dl>
  </div>
</div>
