<div id="maincontent" class="row">
  <h1><%= @institution.name %></h1>

  <%= render 'shared/flash_message' %>

  <div class="col-sm-6">
    <dl class="dl-horizontal">
      <% HTInstitutionPresenter::ALL_FIELDS.each do |field| %>
        <dt><%= @institution.field_label field %></dt>
        <dd><%= @institution.field_value field %></dd>
      <% end %>
      
      
      <% if @institution.ht_billing_member %>
        <% member = @institution.ht_billing_member || HTBillingMember.new %>
        <% member = HTBillingMemberPresenter.new member, controller: controller,
             action: @institution.action %>
        <% HTBillingMemberPresenter::ALL_FIELDS.each do |field| %>
          <dt><%= member.field_label field %></dt>
          <dd><%= member.field_value field %></dd>
        <% end %>
      <% end %>
    </dl>

    <hr/>
    <h2><%= t ".users" %></h2>
    <dl class="dl-horizontal">
      <dt><%= t ".active_users" %></dt> <dd><%= @institution.active_user_count %></dd>
      <dt><%= t ".all_users" %></dt> <dd><%= @institution.user_count %></dd>
    </dl>

    <% contacts = @institution.contacts %>
    <% if contacts.any? %>
      <hr/>
      <h2><%= t ".contacts" %></h2>
      <dl class="dl-horizontal">
        <% contacts.each do |contact| %>
          <% contact = HTContactPresenter.new contact, controller: controller %>
          <dt><%= contact.field_value :contact_type %></dt>
          <dd><%= contact.field_value :email %></dd>
        <% end %>
      </dl>
    <% end %>

   <br />

    <% if can?(:edit, HTInstitution) %>
      <%= link_to t(".edit"), edit_ht_institution_path, class: 'btn btn-primary' %>
    <% end %>

    <%= link_to t(".test_login"), @institution.login_test_url, class: 'btn btn-info' %>
    <% if @institution.mfa? %>
      <%= link_to t(".test_login_mfa"), @institution.mfa_test_url, class: 'btn btn-info' %>
    <% end %>

  </div>
</div>
