  <h1><%= @contact_type.name %></h1>

  <%= render 'shared/flash_message' %>

  <%= form_with(model: @contact_type, local: true, id: 'edit_ht_contact_type_form') do |form| %>
    <div class="col-sm-6">
      <dl class="dl-horizontal">
        <% HTContactTypePresenter::ALL_FIELDS.each do |field| %>
          <dt><%= @contact_type.field_label field, form: form %></dt>
          <dd><%= @contact_type.field_value field, form: form %></dd>
        <% end %>
      </dl>

      <%= form.submit t(".submit_changes"), class: 'btn btn-primary' %>
      <%= link_to t(".cancel"), @contact_type.cancel_path, class: 'btn btn-primary' %>
    </div>

  <% end %>
