<div id="maincontent" class="row">

  <%= render 'shared/flash_message' %>

  <h2 class="pull-left"><%= t ".contact_types" %></h2>

  <% fields = HTContactTypePresenter::ALL_FIELDS %>
  <table id="contact_types" class="table table-striped" data-toggle="table" data-height="460" data-virtual-scroll="true"
         data-search="true" data-show-search-clear-button="true">
    <thead class="thead-dark">    
    <tr>
      <% fields.each do |field| %>
        <th data-sortable="true"><%= HTContactTypePresenter.field_label field %></th>
      <% end %>
    </tr>
    </thead>

    <% @contact_types.each do |c| %>
      <tr>
        <% fields.each do |field| %>
          <td><%= c.field_value field %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <br />

  <% if can?(:create, HTContactType) %>
    <%= link_to t(".add_new_contact_type"), new_ht_contact_type_path, class: 'btn btn-primary' %>
  <% end %>

</div>

