<div id="maincontent" class="row">
  <h1><%= @contact_type.name %></h1>

  <%= render 'shared/flash_message' %>

  <div class="col-sm-6">
    <dl class="dl-horizontal">
      <dt>ID:</dt> <dd><%= @contact_type.id %></dd>
      <dt>Name:</dt> <dd> <%= @contact_type.name %> </dd>
      <dt>Description:</dt> <dd><%= @contact_type.description %></dd>
    </dl>
    <br/>

    <% if can?(:edit, :ht_contact_types) %>
      <%= link_to 'Edit', edit_ht_contact_type_path, class: 'btn btn-primary' %>
    <% end %>
    
    <% if can?(:destroy, :ht_contact_types) %>
      <%= link_to 'Delete Contact Type', ht_contact_type_path, method: :delete, class: 'btn btn-danger',
                  data: { confirm: "Please confirm deletion of contact type \"#{@contact_type.name}\"" } %>
    <% end %>
  </div>
</div>
