<div id="maincontent" class="row">
  <h1><%= @contact_type.name %></h1>

  <div class="col">
    <dl class="row">
      <% @contact_type.all_fields.each do |field| %>
        <dt class="col-sm-3"><%= @contact_type.field_label field %></dt>
        <dd class="col-sm-9"><%= @contact_type.field_value field %></dd>
      <% end %>
    </dl>
    <br/>

    <% if can?(:edit, HTContactType) %>
      <%= link_to t(".edit"), edit_ht_contact_type_path, class: 'btn btn-primary' %>
    <% end %>
    
    <% if can?(:destroy, HTContactType) %>
      <%= link_to t(".delete"), ht_contact_type_path, method: :delete, class: 'btn btn-danger',
                  data: { confirm: t(".confirm_delete", name: @contact_type.name) } %>
    <% end %>
  </div>
</div>
