<!DOCTYPE html>
<html>
  <head>
    <title>Otis Elevated Access Tool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbolinks-cache-control" content="no-cache">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag("https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css") %>

    <% # Keyboard-related overrides that trigger when a bootstrap-table search  %>
    <% # field has focus.                                                       %>
    <% # - Prevent index pages with forms (row checkboxes) from submitting when %>
    <% #   the user types return (13).                                          %>
    <% # - Clear the field on escape key (27).                                  %>
    <script>
      $(document).keypress(
        function(event) {
        if (event.which == '13' && $('.search-input:focus').length) {
          event.preventDefault();
        }
      });

      $(document).keyup(
        function(event) {
        if (event.which == '27' && $('.search-input:focus').length) {
          if ($('.search-input:focus').val()) {
            $('.search-input:focus').val('');
            event.preventDefault();
          }
        }
      });
    </script>
  </head>

  <%= render 'shared/header' %>

  <body>
    <div id="main-container" class="container">
      <%= yield %>
    </div>
    <%# Uses bootstrap-table  %>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
  </body>
</html>
