<!DOCTYPE html>
<html>
  <head>
    <title>Otis Elevated Access Tool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag("https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css") %>

  </head>

  <%= render 'shared/header' %>

  <body>
    <div id="main-container" class="container">
      <%= yield %>
    </div>
    <%# Uses bootstrap-table  %>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
  </body>



</html>
