<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Otis Elevated Access Tool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="/useradmin/styles/styles.css" rel="stylesheet" />

    <script src="/useradmin/scripts/scripts.js"></script>
    

    <% # Keyboard-related overrides that trigger when a bootstrap-table search  %>
    <% # field has focus.                                                       %>
    <% # - Prevent index pages with forms (row checkboxes) from submitting when %>
    <% #   the user types return (13).                                          %>
    <% # - Clear the field on escape key (27).                                  %>
    <% # event.stopPropagation() should not be needed, but if there are issues  %>
    <% # it should be revisited.                                                %>
   <!-- <script>
      $(document).keypress(
        function(event) {
        if (event.which == '13' && $('.search-input:focus').length) {
          event.preventDefault();
        }
      });

      $(document).keyup(
        function(event) {
        if (event.which == '27' && $('.search-input:focus').length) {
          if ($('.search-input:focus').val()) {
            $('.search-input:focus').val('');
            event.preventDefault();
          }
        }
      });
    </script>
    -->
   
   
  </head>

  <body class="hello">
    <%= render 'shared/header' %>
    <div id="main-container" class="container">
        <%= render 'shared/flash_message' %>
      <%= yield %>
    </div>
    <!--
    <script>
      // Add aria-label to bootstrap-table search box.
      // Doesn't silence warnings about lack of visible label, however.
      $(document).ready(function() {
        $('.search-input').each(function (index) {
          $(this).attr('aria-label', 'Search');
        });
      
        $(".select-institution").select2({
          language: "<%= I18n.locale %>",
          width: "100%"
        });
      });
    </script>
    -->
    <div class="container">
      <footer>
      </footer>
    </div>
  </body>
</html>
