<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Otis Elevated Access Tool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbolinks-cache-control" content="no-cache">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" %>
    <% # Select2 (select2.org) main distro, locale files, CSS %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" %>
    <% I18n.available_locales.each do |locale| %>
      <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/i18n/#{locale.to_s}.js" %>
    <% end %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" %>
    <%= stylesheet_link_tag("https://unpkg.com/bootstrap-table@1.23.4/dist/extensions/filter-control/bootstrap-table-filter-control.css") %>
    <%= stylesheet_link_tag("https://unpkg.com/bootstrap-table@1.23.4/dist/bootstrap-table.min.css") %>

    <% # Keyboard-related overrides that trigger when a bootstrap-table search  %>
    <% # field has focus.                                                       %>
    <% # - Prevent index pages with forms (row checkboxes) from submitting when %>
    <% #   the user types return (13).                                          %>
    <% # - Clear the field on escape key (27).                                  %>
    <% # event.stopPropagation() should not be needed, but if there are issues  %>
    <% # it should be revisited.                                                %>
    <script>
      $(document).keypress(
        function(event) {
        if (event.which == '13' && $('.search-input:focus').length) {
          event.preventDefault();
        }
      });

      $(document).keyup(
        function(event) {
        if (event.which == '27' && $('.search-input:focus').length) {
          if ($('.search-input:focus').val()) {
            $('.search-input:focus').val('');
            event.preventDefault();
          }
        }
      });
    </script>
    <% # Uses bootstrap-table  %>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.30.0/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.23.4/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.23.4/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.4/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <% locale_map = {"ja" => "ja-JP"} %>
    <% if locale_map[I18n.locale.to_s].present? %>
      <script src="https://unpkg.com/bootstrap-table@1.23.4/dist/locale/bootstrap-table-<%= locale_map[I18n.locale.to_s] %>.min.js"></script>
    <% end %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div id="main-container" class="container">
        <%= render 'shared/flash_message' %>
      <%= yield %>
    </div>
    <script>
      // Add aria-label to bootstrap-table search box.
      // Doesn't silence warnings about lack of visible label, however.
      $(document).ready(function() {
        $('.search-input').each(function (index) {
          $(this).attr('aria-label', 'Search');
        });
      
        $(".select-institution").select2({
          language: "<%= I18n.locale %>",
          width: "100%"
        });
      });
    </script>
    <div class="container">
      <footer>
      </footer>
    </div>
  </body>
</html>
