<!DOCTYPE html>
<html>
  <head>
    <title>Otis Elevated Access Tool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbolinks-cache-control" content="no-cache">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag("https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css") %>

    <% # Keyboard-related overrides that trigger when a bootstrap-table search  %>
    <% # field has focus.                                                       %>
    <% # - Prevent index pages with forms (row checkboxes) from submitting when %>
    <% #   the user types return (13).                                          %>
    <% # - Clear the field on escape key (27).                                  %>
    <% # event.stopPropagation() should not be needed, but if there are issues  %>
    <% # it should be revisited.                                                %>
    <script>
      $(document).keypress(
        function(event) {
        if (event.which == '13' && $('.search-input:focus').length) {
          event.preventDefault();
        }
      });

      $(document).keyup(
        function(event) {
        if (event.which == '27' && $('.search-input:focus').length) {
          if ($('.search-input:focus').val()) {
            $('.search-input:focus').val('');
            event.preventDefault();
          }
        }
      });
    </script>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div id="main-container" class="container">
        <%= render 'shared/flash_message' %>
      <%= yield %>
    </div>
    <% # Uses bootstrap-table  %>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <% locale_map = {"ja" => "ja-JP"} %>
    <% if locale_map[I18n.locale].present? %>
      <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/locale/bootstrap-table-<%= locale_map[I18n.locale] %>.min.js"></script>
    <% end %>
    <script>
       // Add aria-label to bootstrap-table search box.
       // Doesn't silence warnings about lack of visible label, however.
       $(document).ready(function() {
         $('.search-input').each(function (index) {
           $(this).attr('aria-label', 'Search');
         });
       });
     </script>

  </body>
</html>
