<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>
      <%= I18n.t "global.title.external_landing" %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "/scripts/scripts.css" %>
    <%= stylesheet_link_tag "/styles/styles.css" %>
  </head>

  <body>
    <%= render "shared/external_landing_header" %>
    <main class="registration">
      <div id="main-container" class="container landing">
        <% # ======================================= %>
        <% # ======== RENDER ALL THE THINGS ======== %>
        <%= yield %>
        <% # ======================================= %>
      </div>
    </main>

    <div class="container">
      <footer>
      </footer>
    </div>
  </body>
</html>
